body{
	margin: 0px;
	padding: 0px;
	background: url(gambar/bg.jpg);
	background-position: center;
	background-size: cover;
}

/*===========================Header================================*/
header{
    color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	margin-left: 82px;
}
/*==========================Navigasi==============================*/
nav {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
    float: right;
}
  
nav ul li {
	display: inline-block;
	margin-left: 1rem;
	margin: 0 10px;
}
  
nav ul li:first-child {
	margin-left: 0;
}
  
nav a {
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
}
  
nav a:hover {
	background-color:#2ecc71;
	color: #333;
}

/*=============================Content===================================*/
.info{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-left: 0 1px;
	margin-top: 10%;
	color: white;
	padding: 92px;
	margin: 1px;
}

.info h1{
	font-size: 65px;
	color: rgb(35,32,30);
}

.info h3{
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 24px;
	margin-bottom: 40px;
}

.info span{
	color: lawngreen;
}

.info-image{
	display: flex;
}

.info-image img{
	width: 25%;
	height: auto;
	position: absolute;
	transition: 0.5s ease;
	border-width: 10px;
	border-style: solid;
	border-color: green;
	border-radius: 20px;
	left: 68%;
	top: 20%;
	transform: translateX(-30);
}


.info-image:hover img{
	transform: scale(1.1);
}

/*=============================================Skill=================================================*/
.title{
	text-align: center;
	color: #fff;
	padding: 1px;
	position: relative;
}
.title:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	width: 100px;
	background-color: #2ecc71;
}

.container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	grid-gap: 1rem;
	padding: 1rem 80px;
	font-size: 1.2rem;
}

.skill-box{
	padding: 1rem;
	color: #ddd;
	background-color: black;
}

.skill-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.img{
	width: 90px;
	height: 90px;
	position: relative;
	border-radius: 45px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: .5s;
}

.img img{
	width: 80px;
	height: auto;
	margin-left: 4px;
}


.skill-title h3{
	color: #fff;
	margin-top: 0.5rem;
}
.skill-title::after{
	content: '';
	bottom: 0;
	right: 50%;
	width: 70px;
	height: 4px;
	border-radius: 2px 0 0 2px;
	background-color: #2ecc71;
	transition: .5s;
}
.skill-title::before{
	content: '';
	bottom: 0;
	right: 50%;
	width: 70px;
	height: 4px;
	border-radius: 0 2px 2px 0;
	background-color: #2ecc71;
}
.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
	width: 35px;
}
.skill-box:hover .img{
	transform: translateY(-10px);
}
.skill-icon{
	width: 50px;
}
/*=====================================About Us====================================================*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
  color: #fff;
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}
/*======================================My Project=============================================*/
.about-us{
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 20px auto;
	color: #fff;
}

.about-us h1{
	font-size: 30px;
	color: #fff;
	margin-bottom: 25px;
	position: relative;
	
}

.about-us h1:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color: #2ecc71;
}

.about__text{
	margin-bottom: 100px;
}

.about-content{
	color: #fff;
}

.work__container {
	row-gap: 2rem;
}
  
.work__img {
	box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
	border-radius: .5rem;
	overflow: hidden;
}
  
.work__img img {
	transition: 1s;
	width: 40%;
	height: auto;
	margin-left: 80px;
	margin-bottom: 50px;
}
  
.work__img img:hover {
	transform: scale(1.1);
}


/*======================================Contact Us==========================================*/
.contact-section{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-info{
	color: #fff;
	max-width: 500px;
	line-height: 65px;
	padding-left: 50px;
	font-size: 18px;
	margin-left: 80px;
}
.contact-info i{
	margin-right: 20px;
	font-size: 25px;
}
.contact-form{
	max-width: 700px;
	margin-right: 50px;
}
.contact-info, .contact-form{
	flex: 1;
}

.contact-form h2{
	color: #fff;
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}
.contact-form h2:after{
	content: "";
	width: 25%;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color: #2ecc71;
}

.contact-form .text-box{
	background: #000;
	color: #fff;
	border: none;
	width: calc(50% - 10px);
	height: 50px;
	padding: 12px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
	border-width: 2px;
	border-style: solid;
	border-color: #2ecc71;
}

.contact-form .text-box:first-child{
	margin-right: 15px;
}

.contact-form textarea{
	background: #000;
	color: #fff;
	border: none;
	width: 100%;
	padding: 12px;
	font-size: 15px;
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0,0.1);
	margin-bottom: 20px;
	opacity: 0.9;
	border-width: 2px;
	border-style: solid;
	border-color: #2ecc71;
}

.contact-form .send-btn{
	float: right;
	background: #2ecc71;
	color: #fff;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.contact-form .send-btn:hover{
	background: green;
}

/* ===== FOOTER =====*/
.footer {
	background: url(gambar/bg.jpg);
	color: #fff;
	text-align: center;
	font-weight: var(--font-semi);
	padding: 2px;
  }
  
  .footer__title {
	font-size: 20px;
	margin-bottom: 1px;
  }
  
  .footer__social {
	margin-bottom: 1px;
  }
  
  .footer__icon {
	font-size: 1.5rem;
	color: #fff;
	margin: 0 var(--mb-2);
  }
  
  .footer__copy {
	font-size: var(--smaller-font-size);
  }

  /*===========================Wrapper====================================*/
.wrapper .dynamic-text{
	margin-left: 15px;
	height: 90px;
	line-height: 90px;
	overflow: hidden;
}

.dynamic-text li{
	list-style: none;
	font-size: 60px;
	font-weight: 500;
	position: relative;
	top:0;
	animation: slide 8s steps(4) infinite;
}

@keyframes slide{
	100%{
		top: -360px;
	}
}

.dynamic-text li span{
	position: relative;
	margin: 5px 0;
	line-height: 0px;
}


.dynamic-text li span::after{
	content: '';
	position: absolute;
	left: 0;
	height: 78px;
	width: 100%;
	animation: typing 3 s steps(14) infinite;
}

@keyframes typing{
	20%,
	60% {
		left: calc(100% + 30px);
	}

	100%{
		left: 10px;
	}
}